.container{
    padding: 15px 20px;
    max-width: 45%;
    margin: 40px auto;
    border: solid 1px #576F72;
    border-radius: 15px;
    background-image: linear-gradient(180deg, #576F72, #F0EBE3);

}

.card{
    background-color: #E4DCCF;
    border-radius: 20px;
}

.main-card{
    max-width: 100%;
}

.city-name, .day-time{
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 200;
}

.city-name{
    font-size: 20px;
}

.day-time{
    font-size: 14px;
}

.degrees{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 30px;
}

.form-control, .submitButton, .currentButton{
    background-color: #F0EBE3;
    border-radius: 25px;
}
.submitButton, .currentButton{
    display: inline-block;

}

.icon{
    font-size: 50px;
}

#celsius, #farengheit, .celfar{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 25px;
    color: #576F72;
}

.linkToGit {
    color:#576F72;
    
}